$component-space: 24px;

body {
    margin: 0;
}

#root {
    min-height: 100vh;
    display: flex;
}

.header {
    display: flex;
    align-items: center;

    .logo {
        color: #fff;
    }

    h2 {
        color: #fff;
    }
}

.content {
    padding: 20px 50px;
}

.spaceAlignContainer {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    min-height: 40vh;
    align-items: center;
    background-color: #fff;
}

.error {
    background-color: #fff;
    border-radius: 5px;
}

.dogCard {
    img {
        max-width: 100%;
    }
}

.sortWrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
}